@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,700italic,900,900italic);
/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/* line 22, ../scss/styles.scss */
* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* line 26, ../scss/styles.scss */
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #E4E4E4;
  background-attachment: fixed;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* Portrait layout (default) */
/* line 55, ../scss/styles.scss */
.app {
  background: url(../img/logo.png) no-repeat center top;
  /* 170px x 200px */
  position: absolute;
  /* position in the center of the screen */
  left: 50%;
  top: 50%;
  height: 50px;
  /* text area height */
  width: 225px;
  /* text area width */
  text-align: center;
  padding: 180px 0px 0px 0px;
  /* image height is 200px (bottom 20px are overlapped with text) */
  margin: -115px 0px 0px -112px;
  /* offset vertical: half of image height and text area height */
  /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1 / 1) and (min-width: 400px) {
  /* line 70, ../scss/styles.scss */
  .app {
    background-position: left center;
    padding: 75px 0px 75px 170px;
    /* padding-top + padding-bottom + text area = image height */
    margin: -90px 0px 0px -198px;
    /* offset vertical: half of image height */
    /* offset horizontal: half of image width and text area width */
  }
}
   /* 

h1 {
    font-size:24px;
    font-weight:normal;
    margin: 20%;
    overflow:visible;
    padding:0px;
    text-align:center;
}

#tmd {
    width: 95%;
    margin: 50% auto 0 auto;
    display: block;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;

    &.listening {
    background-color:#333333;
    display:block;
    }

    &.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
    }
}

 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

 .button {
    color: white;
    text-decoration: none;
    margin:0px 30px;
    font-family: sans-serif;
    -webkit-transition: all .3s;
    width: 200px;
    background: #0000FF;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 0px 2px;

}

.button:hover {
    background: #000066;
}

.button div a {
    color: white;
}

.button div a:hover {
    color: white;
}
*/
/* line 161, ../scss/styles.scss */
.home_div {
  margin-top: 130px;
  text-align: center;
  vertical-align: middle;
  font-family: "Roboto", sans-serif, Helvetica, Arial;
  color: #374567;
}
/* line 168, ../scss/styles.scss */
.home_div .home_button {
  height: 50px;
  line-height: 50px;
  width: 60%;
  margin: 0px auto 30px auto;
  background-color: #1F809F;
}
/* line 176, ../scss/styles.scss */
.home_div .home_button a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;
}
/* line 184, ../scss/styles.scss */
.home_div .home_button a:hover {
  color: silver;
}

/* line 192, ../scss/styles.scss */
.first_nav {
  position: fixed;
  height: 60px;
  line-height: 60px;
  z-index: 100px;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  background-color: #374567;
  color: white;
  font-weight: '400';
  font-family: "Roboto", sans-serif, Helvetica, Arial;
}
/* line 208, ../scss/styles.scss */
.first_nav h2 {
  color: white;
  text-decoration: none;
  display: inline;
  font-size: 35px;
}
/* line 214, ../scss/styles.scss */
.first_nav h2 i {
  float: right;
  margin-right: -5px;
}
/* line 219, ../scss/styles.scss */
.first_nav h2 a {
  color: white;
  text-decoration: none;
}

/* line 227, ../scss/styles.scss */
.second_nav {
  position: fixed;
  z-index: 100px;
  top: 60px;
  left: 0;
  right: 0;
  box-shadow: 5px 5px 5px #888888;
  text-align: center;
}
/* line 236, ../scss/styles.scss */
.second_nav div {
  float: left;
  width: 33.33%;
}
/* line 242, ../scss/styles.scss */
.second_nav .unselected, .second_nav #dropdown-unselected {
  background-color: #5572BA;
  color: white;
  vertical-align: middle;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  text-transform: uppercase;
  border: 1px solid white;
  font-weight: lighter;
}
/* line 255, ../scss/styles.scss */
.second_nav .selected, .second_nav #dropdown-selected {
  border: 2px solid #5572BA;
  background-color: white;
  color: #374567;
  vertical-align: middle;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 268, ../scss/styles.scss */
.second_nav li {
  display: inline;
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 277, ../scss/styles.scss */
.second_nav a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
/* line 282, ../scss/styles.scss */
.second_nav a:hover {
  color: silver;
}

/* line 289, ../scss/styles.scss */
.all_tickets, .all_books, .all_leases, .open_sales_div, .bid_content, .list_of_bids_content {
  margin-top: 130px;
  margin-bottom: 20px;
}

/* line 317, ../scss/styles.scss */
.list_of_bids_content h3 {
  color: black;
  margin-left: 20px;
}

/* line 323, ../scss/styles.scss */
.ticket_div, .book_div, .lease_div {
  height: 100px;
  width: 90%;
  margin-top: 15px;
  margin-left: 5%;
  position: relative;
}

/* line 332, ../scss/styles.scss */
.date, .book_div .book_date, .lease_date {
  height: 100px;
  width: 80px;
  text-align: center;
  font-size: 30px;
  background-color: #1F809F;
  color: white;
  text-transform: uppercase;
  float: right;
}
/* line 341, ../scss/styles.scss */
.date p, .book_div .book_date p, .lease_date p {
  font-size: 10px;
  font-style: italic;
  padding-top: 5px;
}
/* line 347, ../scss/styles.scss */
.date h5, .book_div .book_date h5, .lease_date h5 {
  font-size: 28px;
  margin-top: 0px;
  font-weight: normal;
}

/*Style for one particular ticket rectangle*/
/* line 355, ../scss/styles.scss */
.ticket_description {
  height: 100px;
  background-color: white;
  border: 1px solid #1F809F;
  box-shadow: 5px 5px 5px #888888;
}

/* line 362, ../scss/styles.scss */
.ticket_category {
  padding-left: 5px;
  font-family: "Roboto", sans-serif, Helvetica, Arial;
  font-size: 15px;
  font-style: italic;
  color: silver;
}

/* line 370, ../scss/styles.scss */
.ticket_specifics {
  display: inline;
  margin-top: 2px;
  padding-left: 5px;
  font-family: "Roboto", sans-serif, Helvetica, Arial;
  font-size: 20px;
  color: black;
}

/* line 379, ../scss/styles.scss */
.ticket_price {
  margin-top: 2px;
  margin-bottom: 5px;
  padding-left: 5px;
  font-size: 20px;
  font-family: "Roboto", sans-serif, Helvetica, Arial;
  color: green;
}

/* line 388, ../scss/styles.scss */
.ticket_status, .book_div .book_status {
  float: right;
  margin-right: 10px;
  text-align: center;
  height: 22px;
  line-height: 22px;
  width: 85px;
  background-color: #374567;
  border-radius: 5px;
  color: white;
  font-family: "Roboto", sans-serif, Helvetica, Arial;
  font-size: 12px;
}

/* line 403, ../scss/styles.scss */
img {
  width: 200px;
  height: 200px;
}

/* line 408, ../scss/styles.scss */
a {
  color: #374567;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
/* line 414, ../scss/styles.scss */
a:hover {
  color: silver;
}

/*Style for one particular book rectangle*/
/* line 428, ../scss/styles.scss */
.book_div .book_course {
  margin-top: 1px;
  padding-left: 5px;
  font-family: "Roboto", sans-serif, Helvetica, Arial;
  font-size: 15px;
  font-style: italic;
  color: silver;
}
/* line 437, ../scss/styles.scss */
.book_div .book_isbn {
  margin-top: 2px;
  padding-left: 5px;
  font-family: "Roboto", sans-serif, Helvetica, Arial;
  font-size: 20px;
  color: black;
}
/* line 445, ../scss/styles.scss */
.book_div .book_price {
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: "Roboto", sans-serif, Helvetica, Arial;
  color: green;
}

/* line 458, ../scss/styles.scss */
img {
  width: 200px;
  height: 200px;
}

/* line 463, ../scss/styles.scss */
a {
  color: #374567;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
/* line 469, ../scss/styles.scss */
a:hover {
  color: silver;
}

/*Style for one particular sublet rectangle*/
/* line 483, ../scss/styles.scss */
.lease_description {
  float: left;
}
/* line 486, ../scss/styles.scss */
.lease_description .lease_style {
  margin-top: 1px;
  padding-left: 5px;
  font-family: "Roboto", sans-serif, Helvetica, Arial;
  font-size: 15px;
  font-style: italic;
  color: silver;
}
/* line 495, ../scss/styles.scss */
.lease_description .lease_address {
  margin-top: 2px;
  padding-left: 5px;
  font-family: "Roboto", sans-serif, Helvetica, Arial;
  font-size: 20px;
  color: black;
}
/* line 503, ../scss/styles.scss */
.lease_description .lease_price {
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: "Roboto", sans-serif, Helvetica, Arial;
  color: green;
}

/* line 512, ../scss/styles.scss */
img {
  width: 200px;
  height: 200px;
}

/* line 517, ../scss/styles.scss */
a {
  color: #374567;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
/* line 523, ../scss/styles.scss */
a:hover {
  color: silver;
}

/*Changes size of div (used in open_sales.html)*/
/* line 529, ../scss/styles.scss */
.edit_ticket_div, .edit_book_div, .edit_lease_div {
  width: 85%;
}

/* line 541, ../scss/styles.scss */
.ticket_bio_type {
  width: 100%;
  height: 180px;
  line-height: 180px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif, Helvetica, Arial;
  background-color: #E4E4E4;
  color: silver;
  font-size: 45px;
  font-weight: bold;
}

/*Main class for forms in all 3 sell pages*/
/* line 555, ../scss/styles.scss */
.sell_info {
  text-align: left;
  font-family: "Roboto", sans-serif, Helvetica, Arial;
  color: black;
  margin-left: 5%;
  font-size: 20px;
}
/* line 563, ../scss/styles.scss */
.sell_info input {
  color: black;
}
/* line 569, ../scss/styles.scss */
.sell_info .ticket_sell, .sell_info .ticket_sell_title, .sell_info .ticket_sell_date, .sell_info .ticket_sell_type, .sell_info .ticket_sell_preferred_price, .sell_info .ticket_sell_seat, .sell_info .book_sell_title, .sell_info .book_sell_condition, .sell_info .book_sell_isbn, .sell_info .book_sell_course, .sell_info .book_sell_preferred_price, .sell_info .housing_sell_address, .sell_info .housing_sell_date, .sell_info .housing_sell_style, .sell_info .housing_sell_rooms, .sell_info .housing_sell_desc, .sell_info .housing_sell_preferred_price, .sell_info .book_sell, .sell_info .housing_sell {
  margin-bottom: 15px;
  border: 2px solid silver;
  height: 40px;
  font-size: 20px;
  width: 90%;
}
/* line 590, ../scss/styles.scss */
.sell_info .ticket_sell_preferred_price {
  width: 86.5%;
}
/* line 643, ../scss/styles.scss */
.sell_info .ticket_sell_submit, .sell_info .book_sell_submit, .sell_info .housing_sell_submit {
  background-color: #1F809F;
  color: white;
  font-family: "Roboto", sans-serif, Helvetica, Arial;
  height: 50px;
  width: 100px;
  text-transform: uppercase;
  font-size: 20px;
  margin: 20px 37% 30px 32%;
}
/* line 662, ../scss/styles.scss */
.sell_info .housing_sell_image {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
  font-size: 20px;
}

/*Button on bottom right of tickets.html, books.html, and housing.hmtl*/
/* line 680, ../scss/styles.scss */
.sell_button, .edit_button {
  position: fixed;
  height: 70px;
  line-height: 70px;
  width: 70px;
  bottom: 10px;
  right: 10px;
  border-radius: 50px;
  color: white;
  font-size: 60px;
  background-color: #11495A;
}

/* line 697, ../scss/styles.scss */
.edit_delete {
  position: absolute;
  right: 10px;
  bottom: 15px;
}

/*Style for ticket_bio*/
/* line 705, ../scss/styles.scss */
.ticket_bio_header {
  height: 150px;
  width: 100%;
  float: left;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 5px 5px 5px #888888;
  font-weight: bold;
  position: relative;
}

/* line 716, ../scss/styles.scss */
.ticket_bio_name {
  position: absolute;
  left: 10px;
  top: 7px;
  margin-top: 3px;
  font-family: "Roboto", sans-serif, Helvetica, Arial;
  font-size: 35px;
  font-weight: normal;
}

/* line 726, ../scss/styles.scss */
.ticket_bio_date {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-style: italic;
  font-family: "Roboto", sans-serif, Helvetica, Arial;
  font-size: 20px;
  font-weight: normal;
}

/* line 737, ../scss/styles.scss */
.ticket_bio_no_bid {
  position: absolute;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 120px;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  background-color: #1F809F;
}

/* line 752, ../scss/styles.scss */
.ticket_bio_price {
  font-family: "Roboto", sans-serif, Helvetica, Arial;
  font-size: 30px;
  color: green;
  position: absolute;
  font-weight: normal;
  left: 10px;
  bottom: 7px;
}

/* line 762, ../scss/styles.scss */
.specific_ticket_bio_description {
  margin-left: 5px;
}
/* line 766, ../scss/styles.scss */
.specific_ticket_bio_description h3 {
  font-family: "Roboto", sans-serif, Helvetica, Arial;
  color: #1F809F;
  font-size: 29px;
}
/* line 772, ../scss/styles.scss */
.specific_ticket_bio_description p {
  font-family: "Roboto", sans-serif, Helvetica, Arial;
  font-size: 16px;
  color: black;
}

/* line 780, ../scss/styles.scss */
.bid_ticket, .bid_book {
  position: absolute;
  height: 70px;
  width: 70px;
  top: 10px;
  right: 10px;
  border-radius: 50px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: #1F809F;
}

/* line 797, ../scss/styles.scss */
.ticket_sell_nav, .book_sell_nav, .housing_sell_nav, .product_nav {
  margin-top: 0px;
  padding-top: 2px;
  margin-bottom: 0px;
  padding-bottom: 2px;
  padding-left: 10px;
  background-color: #374567;
  color: white;
  font-weight: '400';
  font-family: "Roboto", sans-serif, Helvetica, Arial;
  height: 60px;
}
/* line 809, ../scss/styles.scss */
.ticket_sell_nav h2, .book_sell_nav h2, .housing_sell_nav h2, .product_nav h2 {
  display: inline;
  font-size: 40px;
}
/* line 815, ../scss/styles.scss */
.ticket_sell_nav h2 a, .book_sell_nav h2 a, .housing_sell_nav h2 a, .product_nav h2 a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

/* line 831, ../scss/styles.scss */
.product_nav {
  background-color: #1F809F;
}

/* line 838, ../scss/styles.scss */
.modal-content {
  text-align: center;
  margin: auto auto;
  font-size: 35px;
}
/* line 843, ../scss/styles.scss */
.modal-content .modal-title {
  font-size: 35px;
}
/* line 847, ../scss/styles.scss */
.modal-content .modal-header {
  background-color: #00E676;
}
/* line 851, ../scss/styles.scss */
.modal-content .modal-footer {
  text-align: center;
}

/* line 856, ../scss/styles.scss */
.login_page {
  background-color: #374567;
  padding-top: 40px;
}

/* line 863, ../scss/styles.scss */
.login_content {
  margin: 100px auto;
  text-align: center;
  font-family: "Roboto", sans-serif, Helvetica, Arial;
}
/* line 869, ../scss/styles.scss */
.login_content .login_username, .login_content .sign_up_username {
  width: 80%;
  height: 50px;
  line-height: 40px;
  font-size: 25px;
}
/* line 881, ../scss/styles.scss */
.login_content .login_password, .login_content .sign_up_password {
  width: 80%;
  height: 50px;
  line-height: 40px;
  font-size: 25px;
}
/* line 893, ../scss/styles.scss */
.login_content .login_submit, .login_content .sign_up_submit {
  margin-top: 15px;
  background-color: #00FF7F;
  height: 50px;
  width: 80%;
  color: white;
  font-size: 25px;
  font-weight: bold;
}
/* line 907, ../scss/styles.scss */
.login_content h1 {
  color: white;
  padding-bottom: 10px;
  font-weight: bold;
}
/* line 912, ../scss/styles.scss */
.login_content h1 a {
  color: white;
  text-decoration: none;
}
/* line 918, ../scss/styles.scss */
.login_content h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Modal Content */
/* line 928, ../scss/styles.scss */
.modal-content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* Modal Body */
  /* Modal Footer */
}
/* line 937, ../scss/styles.scss */
.modal-content .modal-header {
  text-align: left;
  height: 75px;
  line-height: 75px;
  font-size: 35px;
  padding: 2px 16px;
  border-bottom: 1px solid #888;
  background-color: white;
  color: #374567;
  font-family: "Roboto", sans-serif, Helvetica, Arial;
}
/* line 950, ../scss/styles.scss */
.modal-content .modal-body {
  height: 150px;
}
/* line 957, ../scss/styles.scss */
.modal-content .modal-checks {
  margin: 40px 70px 40px 70px;
  font-size: 15px;
  color: #11495A;
}
/* line 962, ../scss/styles.scss */
.modal-content .modal-checks .filter-tickets {
  float: left;
}
/* line 967, ../scss/styles.scss */
.modal-content .modal-checks .filter-books {
  float: left;
}
/* line 971, ../scss/styles.scss */
.modal-content .modal-checks .filter-leases {
  float: left;
}
/* line 978, ../scss/styles.scss */
.modal-content .modal-footer {
  border-top: 1px solid #888;
  padding: 2px 16px;
  background-color: white;
  color: #374567;
}

/* line 986, ../scss/styles.scss */
.specific_bid {
  font-size: 20px;
  color: #374567;
  border: 2px solid #1F809F;
  width: 290px;
  padding-left: 10px;
  margin-top: 15px;
  margin-left: 20px;
}

/* Style The Dropdown Button */
/* line 997, ../scss/styles.scss */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
/* line 1007, ../scss/styles.scss */
#dropdown-unselected {
  position: relative;
  display: inline-block;
  font-size: 17px;
  color: #374567;
}

/* line 1016, ../scss/styles.scss */
#dropdown-selected {
  position: relative;
  display: inline-block;
  font-size: 17px;
}

/* Dropdown Content (Hidden by Default) */
/* line 1024, ../scss/styles.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
/* line 1033, ../scss/styles.scss */
.dropdown-content a {
  color: #374567;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
/* line 1041, ../scss/styles.scss */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
/* line 1044, ../scss/styles.scss */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* line 1049, ../scss/styles.scss */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
