@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,700italic,900,900italic);
$font-stack: 'Roboto', sans-serif, Helvetica, Arial;
$TMDBlue: #374567;
$TMDGrey: #CCCCCC;
$TMDGreybkg: #565762;
$TMDHighlight: #1F809F;
$TMDHyperlink: #5572BA;
$TMDSellButton: #11495A;
$clicked-nav-font-color: #000000;
$background-color: #0000FF;
$nav-font-base-size: 15px;
$list-right-padding-px: 5px;
$list-left-padding-px: 5px;
