@import "partial";


/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

 body {

    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    //background: linear-gradient(direction, red, blue);
    background-color:#E4E4E4;
    //background-image:linear-gradient(top, #FFFFFF 0%, #E4E4E4 51%);
    //background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    //background-image:-ms-linear-gradient(top, #FFFFFF 0%, #E4E4E4 51%);
    //background-image:-webkit-gradient(
      //  linear,
        //left top,
        //left bottom,
        //color-stop(0, #A7A7A7),
        //color-stop(0.51, #E4E4E4)
    //);
    background-attachment:fixed; 
    
  //  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
   // font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    //text-transform:uppercase;
    width:100%;
} 

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */ 
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}  /* 

h1 {
    font-size:24px;
    font-weight:normal;
    margin: 20%;
    overflow:visible;
    padding:0px;
    text-align:center;
}

#tmd {
    width: 95%;
    margin: 50% auto 0 auto;
    display: block;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;

    &.listening {
    background-color:#333333;
    display:block;
    }

    &.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
    }
}

 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

 .button {
    color: white;
    text-decoration: none;
    margin:0px 30px;
    font-family: sans-serif;
    -webkit-transition: all .3s;
    width: 200px;
    background: #0000FF;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 0px 2px;

}

.button:hover {
    background: #000066;
}

.button div a {
    color: white;
}

.button div a:hover {
    color: white;
}
*/

//Buttons on index.html (Tickets, Books, Sublets)

.home_div {
    margin-top: 130px;
    text-align: center;
    vertical-align: middle;
    font-family: $font-stack;
    color: $TMDBlue;

    .home_button {
        height: 50px;
        line-height: 50px;
        width: 60%;
        margin: 0px auto 30px auto;
        background-color: $TMDHighlight;


        a {

                color: white;
                text-decoration: none;
                font-size: 20px;
                font-weight: normal;


            &:hover {
                color: silver;
            }
        }
    }
}

// First navigation bar with BlueBuy on it
.first_nav {
    position: fixed;
    height: 60px;
    line-height: 60px;
    z-index: 100px;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    background-color: $TMDBlue;
    color: white;
    font-weight: '400';
    font-family: $font-stack;

    h2 {
        color: white;
        text-decoration: none;
        display: inline;
        font-size: 35px;

        i {
            float: right;
            margin-right: -5px;
        }

        a {
            color: white;
            text-decoration: none;
        }
    }
}

// Second navigation bar with category choices
.second_nav {
    position: fixed;
    z-index: 100px;
    top: 60px;
    left: 0;
    right: 0;
    box-shadow: 5px 5px 5px #888888;
    text-align: center;

    div {
       float: left;
       width: 33.33%;
    }

    //Styles buttons that do not correlate with current page
    .unselected {
        background-color: $TMDHyperlink;
        color: white;
        vertical-align: middle;
        height: 40px;
        line-height: 40px;
        font-size: 17px;
        text-transform: uppercase;
        border: 1px solid white;
        font-weight: lighter;
    }

    //styles buttons that do correlate with current page
    .selected {
        border: 2px solid $TMDHyperlink;
        background-color: white;
        color: $TMDBlue;
        vertical-align: middle;
        height: 40px;
        line-height: 40px;
        font-size: 17px;
        text-transform: uppercase;
        font-weight: bold;

    }

    li {

    display: inline;
    text-transform: uppercase;
    padding-left: $list-left-padding-px;
    padding-right: $list-right-padding-px;

    }

    a {
    color: white;
    text-decoration: none;
    font-size: $nav-font-base-size;

        &:hover {
        color: silver;
        }
    }
}

//Leaves space on top and bottom of main tickets page
.all_tickets {
    margin-top: 130px;
    margin-bottom: 20px;
}

//Leaves space on top and bottom of main books page
.all_books {
    @extend .all_tickets;
}

//Leaves space on top and bottom of main leases page
.all_leases {
    @extend .all_tickets;
}

//Leaves space on top and bottom of main sales page
.open_sales_div {
    @extend .all_tickets;
}

//Leaves space on top and bottom of main bid page
.bid_content {
    @extend .all_tickets;
}

//Leaves space on top and bottom of list of bids page
.list_of_bids_content {
    @extend .all_tickets;
    h3 {
        color: black;
        margin-left: 20px;
    }
}

.ticket_div {
    height: 100px;
    width: 90%;
    margin-top: 15px;
    margin-left: 5%;
    position: relative;
}


.date {
    height: 100px;
    width: 80px;
    text-align: center;
    font-size: 30px;
    background-color: $TMDHighlight;
    color: white;
    text-transform: uppercase;
    float: right;
    p {
        font-size: 10px;
        font-style: italic;
        padding-top: 5px;
    }

    h5 {
        font-size: 28px;
        margin-top: 0px;
        font-weight: normal;
    }
}

/*Style for one particular ticket rectangle*/
.ticket_description {
    height: 100px;
    background-color: white;
    border: 1px solid $TMDHighlight;
    box-shadow: 5px 5px 5px #888888;
}

.ticket_category {
    padding-left: 5px;
    font-family: $font-stack;
    font-size: 15px;
    font-style: italic;
    color: silver;
}

.ticket_specifics {
    display: inline;
    margin-top: 2px;
    padding-left: 5px;
    font-family: $font-stack;
    font-size: 20px;
    color: black;
}

.ticket_price {
    margin-top: 2px;
    margin-bottom: 5px;
    padding-left: 5px;
    font-size: 20px;
    font-family: $font-stack;
    color: green;
}

.ticket_status {
    float: right;
    margin-right: 10px;
    text-align: center;
    height: 22px;
    line-height: 22px;
    width: 85px;
    background-color: $TMDBlue;
    border-radius: 5px;
     color: white;
    font-family: $font-stack;
    font-size: 12px;
}


img {
width: 200px;
height: 200px;
}

a {
color: $TMDBlue;
text-decoration: none;
font-size: 20px;
font-weight: bold;

    &:hover {
    color: silver;
    }
}

/*Style for one particular book rectangle*/
.book_div {
    @extend .ticket_div;


    .book_date {
        @extend .date;
    }

    .book_course {
       margin-top: 1px;
        padding-left: 5px;
        font-family: $font-stack;
        font-size: 15px;
        font-style: italic;
        color: silver;
    }

    .book_isbn {
       margin-top: 2px;
        padding-left: 5px;
        font-family: $font-stack;
        font-size: 20px;
        color: black;
    }

    .book_price {
        margin-top: 2px;
        margin-bottom: 5px;
        font-size: 20px;
        font-family: $font-stack;
        color: green;
    }

    .book_status {
        @extend .ticket_status;
    }
}

    img {
        width: 200px;
        height: 200px;
    }

     a {
    color: $TMDBlue;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

        &:hover {
        color: silver;
        }
    }

/*Style for one particular sublet rectangle*/
.lease_div {
    @extend .ticket_div;
}

.lease_date {
        @extend .date;
    }

.lease_description {
    float: left;

.lease_style {
    margin-top: 1px;
    padding-left: 5px;
    font-family: $font-stack;
    font-size: 15px;
    font-style: italic;
    color: silver;
}

    .lease_address {
       margin-top: 2px;
        padding-left: 5px;
        font-family: $font-stack;
        font-size: 20px;
        color: black;
    }

    .lease_price {
        margin-top: 2px;
        margin-bottom: 5px;
        font-size: 20px;
        font-family: $font-stack;
        color: green;
    }
}

img {
    width: 200px;
    height: 200px;
}

 a {
color: $TMDBlue;
text-decoration: none;
font-size: 20px;
font-weight: bold;

    &:hover {
    color: silver;
    }
}

/*Changes size of div (used in open_sales.html)*/
.edit_ticket_div {
    width:85%;
}

.edit_book_div {
    @extend .edit_ticket_div;
}

.edit_lease_div {
    @extend .edit_ticket_div;
}

.ticket_bio_type {
    width: 100%;
    height: 180px;
    line-height: 180px;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-stack;
    background-color: #E4E4E4;
    color: silver;
    font-size: 45px;
    font-weight: bold;
}

/*Main class for forms in all 3 sell pages*/
.sell_info {
    text-align: left;
    font-family: $font-stack;
    color: black;
    margin-left: 5%;
    font-size: 20px;

    
    input {
       
        color: black;
    }


    .ticket_sell {
        margin-bottom: 15px;
        border: 2px solid silver;
        height: 40px;
        font-size: 20px;
        width: 90%;
    }

    .ticket_sell_title {
        @extend .ticket_sell;
        
    }

    .ticket_sell_date {
        @extend .ticket_sell;
    }

    .ticket_sell_type {
        @extend .ticket_sell;
    }

    .ticket_sell_preferred_price {
        @extend .ticket_sell;
        width: 86.5%;
    }

    .ticket_sell_seat {
        @extend .ticket_sell;
    }

    .book_sell_title {
        @extend .ticket_sell;
    }

    .book_sell_condition {
        @extend .ticket_sell;
    }

    .book_sell_isbn {
        @extend .ticket_sell;
    }

    .book_sell_course {
        @extend .ticket_sell;
    }

    .book_sell_preferred_price {
        @extend .ticket_sell;
    }

    .housing_sell_address {
        @extend .ticket_sell;
    }

    .housing_sell_date {
        @extend .ticket_sell;
    }

    .housing_sell_style {
        @extend .ticket_sell;
    }

    .housing_sell_rooms {
        @extend .ticket_sell;
    }

    .housing_sell_desc {
        @extend .ticket_sell;
    }

    .housing_sell_preferred_price {
        @extend .ticket_sell;
    }

    .ticket_sell_submit {
        background-color: $TMDHighlight;
        color: white;
        font-family: $font-stack;
        height: 50px;
        width: 100px;
        text-transform: uppercase;
        font-size: 20px;
        margin: 20px 37% 30px 32%; 
    }

    .book_sell {
        @extend .ticket_sell;
    }

    .book_sell_submit {
        @extend .ticket_sell_submit;
    }

        .housing_sell_image {
        margin-top: 20px;
        margin-bottom: 20px;
        //margin-left: 20px;
        height: 30px;
        font-size: 20px;
    }

    .housing_sell {
        @extend .ticket_sell;
    }

    .housing_sell_submit {
        @extend .ticket_sell_submit;
    }
}

/*Button on bottom right of tickets.html, books.html, and housing.hmtl*/
.sell_button {
    position: fixed;
    height: 70px;
    line-height: 70px;
    width: 70px;
    bottom: 10px;
    right: 10px;
    border-radius: 50px;
    color: white;
    font-size: 60px;
    background-color: $TMDSellButton;
}

.edit_button {
    @extend .sell_button;
}

.edit_delete {
    position: absolute;
    right: 10px;
    bottom: 15px;

}

/*Style for ticket_bio*/
.ticket_bio_header {
    height: 150px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px #888888;
    font-weight: bold;
    position: relative;
    
}
.ticket_bio_name {
        position: absolute;
        left: 10px;
        top: 7px;
        margin-top: 3px;
        font-family: $font-stack;
        font-size: 35px;
        font-weight: normal;
}

.ticket_bio_date {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-style: italic;
    font-family: $font-stack;
    font-size: 20px;
    font-weight: normal;

}

.ticket_bio_no_bid {
    position: absolute;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 120px;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    background-color: $TMDHighlight;
}


.ticket_bio_price {
        font-family: $font-stack;
        font-size: 30px;
        color: green;
        position: absolute;
        font-weight: normal;
        left: 10px;
        bottom: 7px;
}

.specific_ticket_bio_description {

    margin-left: 5px;

    h3 {
        font-family: $font-stack;
        color: $TMDHighlight;
        font-size: 29px;
    }

    p {

        font-family: $font-stack;
        font-size: 16px;
        color: black;
    }
}

.bid_ticket {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 10px;
    right: 10px;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: $TMDHighlight;
}

.bid_book {
    @extend .bid_ticket;
}

.ticket_sell_nav {
    margin-top: 0px;
    padding-top: 2px;
    margin-bottom: 0px;
    padding-bottom: 2px;
    padding-left: 10px;
    background-color: $TMDBlue;
    color: white;
    font-weight: '400';
    font-family: $font-stack;
    height: 60px;

    h2 {

        display:inline;
        font-size: 40px;


        a {
            font-size: 30px;
            color: white;
            text-decoration: none;
        }
    }
}

.book_sell_nav {
    @extend .ticket_sell_nav;
}

.housing_sell_nav {
    @extend .ticket_sell_nav;
}

.product_nav {

    @extend .ticket_sell_nav;
    background-color: $TMDHighlight;
}


.modal-content {
    text-align: center;
    margin: auto auto;
    font-size: 35px;

    .modal-title {
        font-size: 35px;
    }

    .modal-header {
    background-color: #00E676;
    }

    .modal-footer {
        text-align: center;
    }
}

.login_page {
    background-color: $TMDBlue;
    padding-top: 40px;


}

.login_content {
    margin: 100px auto;
    text-align: center;
    font-family: $font-stack;


    .login_username {
        width: 80%;
        height: 50px;
        line-height: 40px;
        font-size: 25px;
        //border-radius: 5px 5px 0px 0px;
    }

    .sign_up_username {
        @extend .login_username;
    }

    .login_password {
        width: 80%;
        height: 50px;
        line-height: 40px;
        font-size: 25px;
        //border-radius: 0px 0px 5px 5px;
    }

    .sign_up_password {
        @extend .login_password;
    }

    .login_submit {
        margin-top: 15px;
        background-color: #00FF7F;
        height: 50px;
        width: 80%;
        color: white;
        font-size: 25px;
        font-weight: bold;
    }

    .sign_up_submit {
        @extend .login_submit;
    }

    h1 {
        color: white;
        padding-bottom: 10px;
        font-weight: bold;

        a {
        color: white;
        text-decoration: none;
        }
    }

    h5 {
        margin-top: 10px;
        margin-bottom: 10px;

    }
}



/* Modal Content */
.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

    .modal-header {
        text-align: left;
        height: 75px;
        line-height: 75px;
        font-size: 35px;
        padding: 2px 16px;
        border-bottom: 1px solid #888;
        background-color: white;
        color: $TMDBlue;
        font-family: $font-stack;
    }

    /* Modal Body */
    .modal-body {

        //padding: 2px 16px;
        height: 150px;
        //line-height: 150px;
    }

    .modal-checks {
        //text-align: center;
        margin: 40px 70px 40px 70px;
        font-size: 15px;
        color: $TMDSellButton;
        .filter-tickets {
            float: left;
            //margin-right: 70px;
            //margin: 0px 0px 0px 0px;
        }
        .filter-books {
            float: left;
            //margin: 0px 0px 0px 0px;
        }
        .filter-leases {
            float: left;
            //margin: 0px 0px 0px 0px;
        } 
    }

    /* Modal Footer */
    .modal-footer {
        border-top: 1px solid #888;
        padding: 2px 16px;
        background-color: white;
        color: $TMDBlue;
    }
}

.specific_bid {
    font-size: 20px;
    color: $TMDBlue;
    border: 2px solid $TMDHighlight;
    width: 290px;
    padding-left: 10px;
    margin-top: 15px;
    margin-left: 20px;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
#dropdown-unselected {
    @extend .unselected;
    position: relative;
    display: inline-block;
    font-size: 17px;
    color: $TMDBlue;

}

#dropdown-selected {
    @extend .selected;
    position: relative;
    display: inline-block;
    font-size: 17px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: $TMDBlue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

